<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items; let i = index" [attr.data-index]="i">  
    <ion-card-header color="primary">
      <ion-card-title>Lote {{i+1}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
            <div>
              <ion-label color="secondary">Touro:</ion-label>
              <span>Ferdinando</span>
            </div>
            <div>
              <ion-label color="secondary">Data finalização:</ion-label>
              <span>12/12/2012</span>
            </div>
            <div>
              <ion-label color="secondary">Valor atual:</ion-label>
              <span>R$12345.00</span>
            </div>    
        </app-expandable>
    </ion-card-content>
  </ion-card>
  <ion-fab id="search" vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button color="primary" >
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
</ion-content>
<br/>
<br/>