<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Coleta de semen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="register" class="list-form">
        <ion-item>
            <ion-label position="floating">
            <ion-icon name="water" item-start class="text-primary"></ion-icon>
              Quantidade
            </ion-label>
            <ion-input type="number" formControlName="quantidade"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Data da coleta</ion-label>
              <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
      </form>
      <br/>
      <div>
        <ion-button expand="block" (click)="callRegister()" [disabled]="!register.valid">
          <ion-icon name="send"></ion-icon>
           Lançar coleta
        </ion-button>
      </div>
</ion-content>
