<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gado">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leilao">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Leilão</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lote">
      <ion-icon name="send"></ion-icon>
      <ion-label>Lote</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="semen">
      <ion-icon name="send"></ion-icon>
      <ion-label>Sêmen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
