<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
      <div style="text-align: center; height: 150px;overflow: hidden;" (click)="takePhoto()">
        <img [src]="base64Image ? base64Image : '/assets/icon/semfoto.png'" style="width: 100%; margin-top: -49%">
      </div>
      <ion-card-content>
        <form [formGroup]="addPage" class="list-form">
            <ion-item>
                <ion-label position="floating">
                  <ion-icon name="contact" item-start class="text-primary"></ion-icon>
                  Nome
                </ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
              </ion-item>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Identificação
              </ion-label>
              <ion-input type="text" formControlName="identificacao"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Patriarca</ion-label>
              <ion-select value="brown" okText="Selecionar" cancelText="Cancelar">
                <ion-select-option value="bandido">Bandido</ion-select-option>
                <ion-select-option value="fernandinando">Fernandinando</ion-select-option>
                <ion-select-option value="josue">Josue</ion-select-option>
                <ion-select-option value="zuza">Zuza</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Ultima vacina</ion-label>
                <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
              </ion-item>
          </form>
          <br/>
          <div>
            <ion-button expand="block" (click)="callRegister()" [disabled]="!addPage.valid">
              <ion-icon name="log-in"></ion-icon>
               Cadastrar
            </ion-button>
          </div>
      </ion-card-content>
    </ion-card>
</ion-content>
